/**********************************************************************************************************************
 * CHECKMARKS OPTIONS
 **********************************************************************************************************************/
label {
    margin-bottom: 40px;
}

/**********************************************************************************************************************
 * INPUT NUMBERS
 **********************************************************************************************************************/
input[type="number"] {
    width: 60px;
}

/**********************************************************************************************************************
 * INPUT TEXT
 **********************************************************************************************************************/
input[type="text"] {
    width: 42%;
    margin-top: 4px;
}

/**********************************************************************************************************************
 * INPUT CHECKBOX
 **********************************************************************************************************************/
input[type="checkbox"] {
    vertical-align: middle;
}