/**********************************************************************************************************************
 * CHECKMARKS OPTIONS
 **********************************************************************************************************************/
body {
    margin: 5px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202023;
    }
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: #f9f9fa;
    }
}

label {
    margin-bottom: 40px;
}

input {
    color: #4e4947;
    padding: 5px;
    border: 1px solid #b1b1b3;
}

input:focus {
    border: 1px solid #0a84ff;
}

@media (prefers-color-scheme: dark) {
    input {
        color: #f9f9fa;
        border: 1px solid #4c4c4e;
        background-color: #202023;
    }
}

/**********************************************************************************************************************
 * INPUT NUMBERS
 **********************************************************************************************************************/
input[type="number"] {
    width: 60px;
}

/**********************************************************************************************************************
 * INPUT TEXT
 **********************************************************************************************************************/
input[type="text"] {
    width: 100%;
    margin-top: 4px;
}

/**********************************************************************************************************************
 * INPUT CHECKBOX
 **********************************************************************************************************************/
input[type="checkbox"] {
    vertical-align: middle;
}