/**********************************************************************************************************************
 * CHECKMARKS OPTIONS
 **********************************************************************************************************************/
label {
    margin-bottom: 20px;
}
/**********************************************************************************************************************
 * INPUT NUMBERS
 **********************************************************************************************************************/
#max-tabs,
#request-timeout,
#timeout-overrule {
    width: 60px;
}
/**********************************************************************************************************************
 * INPUT TEXT
 **********************************************************************************************************************/
#ignored-dirs,
#ignored-urls {
    width: 42%;
    margin-top: 4px;
}
/**********************************************************************************************************************
 * INPUT CHECKBOX
 **********************************************************************************************************************/
input[type="checkbox"] {
    vertical-align: middle;
}