/**********************************************************************************************************************
 * CHECKMARKS COMMONS
 **********************************************************************************************************************/
html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: #4E4947;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #b1b1b3;
    }
}

small {
    font-size: 10px;
}